
body{
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#4a0686), to(#240124));
	font-size: 20px;
	color: white;
}

a{
	text-decoration: none;
}

.btn{
  background-color: goldenrod;
  color: rgb(24, 3, 63);
 
  font-size: 20px;
  border-radius: 5%;
  border: solid rgb(141, 107, 20);
}

.btn:hover{
	cursor: pointer;
	background-color: rgb(24, 3, 63);
	color:goldenrod;
	border: solid rgb(12, 2, 32);;
}

/*------------ MENU ----------------------*/

.menu{
	height: 10%;
}
.itemsMenu{
    display: flex;
    flex-wrap: wrap;
   	margin:0;
	padding: 0;
	text-decoration: none;
	align-items: center;
}
.itemsMenu li{
	padding: 1%;
	list-style: none;
	text-decoration: none;
}
.itemsMenu li a{
	justify-content: left;
	color: white;
}
.itemsMenu li a:hover{
	color: rgb(246, 202, 6);
}

.al-dr{
	margin-left: auto;
}



/*---------- FONDO ------------------------*/

.fondoDePantalla{
	position: fixed;
	left:0;
	height: 100%;
	width: 100%;
	pointer-events: none;
	align-items: center;
}
.circulo {
    background: rgb(48, 173, 223);
    height: 50px;
    width: 50px;
	border-radius: 50%;
    /* transition-property: background; */
    transition-duration: 6s;
    animation: desplazarse;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    position: relative;
    animation-direction: alternate;
    animation-fill-mode: both;
	animation-timing-function: linear;
}
.circulo:hover{
	background: rgb(89, 18, 255);
}

.container{
	display: flex;
	flex-wrap: wrap;
}

@keyframes desplazarse{
	0%{
      left: 1px;
	  top: 1px;
      background: rgb(228, 62, 12);
	}
	25%{
		left:25px;
		top: 25px;
	}
	50%{
		background: rgb(10, 10, 226);
		left: 50px;
		top: 50px;
	}
	75%{
		left: 75px;
		top:75px;
	}
	100%{
      left:100px;
	  top: 100px;
	}
}

.mscn{
	view-timeline-name: --mostrarDiv;
	view-timeline-axis: block;

	animation-timeline: --mostrarDiv;
	animation-name:mostrarSeccion;

	animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
}

@keyframes mostrarSeccion {
 from{
	opacity: 0;
	scale: 25%;
 }
 to{
	opacity: 1;
	scale: 100%;
 }	
}

/*---------- SECCIÓN 1 ------------------------*/



.flex-container{
	display:flex;
	align-items: center;
	flex-wrap: wrap; 
	justify-content: center;
	background-color:rgba(0, 150, 251, .1);
	padding: 20px;
	border:8px solid transparent;
	outline: 4px solid white;
	margin:auto;
	margin-top: 5%;
	max-width: 900px;
	
}

.form{
	min-width: 400px;
	flex:1;
	text-align: center;
	padding:30px;
	order:5;
}
.form__input{
	width:100%;
	padding: 7px;
	margin:6px 0;
	border:none;
	border-bottom:3px solid #5dd;
	background: transparent;
	color:white;
}
.form__input:focus{
	background: linear-gradient(to bottom,transparent,#222);
	outline:none;
	border-bottom: 3px solid #5f9;
}

.form textarea{
min-height: 140px;
resize: none;/*Para que no extiendan el textarea */
}

.form-img{
	flex:1;
	padding: 10px;
	max-width:400px;
	min-width: 300px;
	order:1;
	display: flex; 
}
.form-img div{
	padding: 10px;
}
.img-container{
	margin: auto;
}
.img-container div{
	background-color: #fff;
	border-radius: 50%;
	text-align: center;
	padding:40px;
}
.form-img img{
	width: 60%;
	margin:auto;
}

@media (max-width: 870px) {
	.itemsMenu{
	    justify-content: center;
	}
}

.contenedor{

}

.principal{
	width:100%;
	height: 80%;
	padding:10% 0 10% 0;

	border:solid black;
	/* background-color: lightblue; */
	/* opacity: 0.50;  */
}

/*---------------------------------------*/

.sobreMi{
   padding: 20%;

}

.sobreMi h1{
  font-size: 50px;
  font-style: bold;
}